@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
body {
    margin: 20px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
}
/* ol,
ul {
    padding-left: 30px;
} */
